RewriteEngine ON

RewriteRule ^categories/([0-9]+)?$ categories/api/categories.php?category_id=$1 [NC,L]
RewriteRule ^categories/?$ categories/api/categories.php [NC,L]

RewriteRule ^users/([0-9]+)?$ users/api/users.php?user_id=$1 [NC,L]
RewriteRule ^users/?$ users/api/users.php [NC,L]
RewriteRule ^login/?$ users/api/login.php [NC,L]

RewriteRule ^articles/([0-9]+)?$ articles/api/articles.php?article_id=$1 [NC,L]
RewriteRule ^articles/?$ articles/api/articles.php [NC,L]

RewriteRule ^images/([0-9]+)?$ images/api/images.php?image_id=$1 [NC,L]
RewriteRule ^images/?$ images/api/images.php [NC,L]

RewriteRule ^videos/([0-9]+)?$ videos/api/videos.php?video_id=$1 [NC,L]
RewriteRule ^videos/?$ videos/api/videos.php [NC,L]

RewriteRule ^tags/([0-9]+)?$ tags/api/tags.php?tag_id=$1 [NC,L]
RewriteRule ^tags/?$ tags/api/tags.php [NC,L]

RewriteRule ^article-tags/([0-9]+)?$ article_tags/api/article_tags.php?article_tag_id=$1 [NC,L]
RewriteRule ^article-tags/?$ article_tags/api/article_tags.php [NC,L]

RewriteRule ^article-categories/([0-9]+)/([0-9]+)?$ article_categories/api/article_categories.php?article_id=$1&category_id=$2 [NC,L]
RewriteRule ^article-categories/?$ article_categories/api/article_categories.php [NC,L]

RewriteRule ^video-categories/([0-9]+)/([0-9]+)?$ video_categories/api/video_categories.php?video_id=$1&category_id=$2 [NC,L]
RewriteRule ^video-categories/?$ video_categories/api/video_categories.php [NC,L]

RewriteRule ^article-comment/([0-9]+)?$ article_comment/api/article_comment.php?comment_id=$1 [NC,L]
RewriteRule ^article-comment/?$ article_comment/api/article_comment.php [NC,L]

RewriteRule ^article-metadata/([0-9]+)?$ article_metadata/api/article_metadata.php?metadata_id=$1 [NC,L]
RewriteRule ^article-metadata/?$ article_metadata/api/article_metadata.php [NC,L]

RewriteRule ^polls/([0-9]+)?$ polls/api/polls.php?id=$1 [NC,L]
RewriteRule ^polls/?$ polls/api/polls.php [NC,L]

RewriteRule ^poll-option/([0-9]+)?$ poll_option/api/poll_option.php?poll_id=$1 [NC,L]
RewriteRule ^poll-option/?$ poll_option/api/poll_option.php [NC,L]

RewriteRule ^articleapi/([0-9]+)?$ articleapi/api/articleapi.php?article_id=$1 [NC,L]
RewriteRule ^articleapi/?$ articleapi/api/articleapi.php [NC,L]